/* VARIABLES */
:root {
    --text-color: #F7F7F7;
    --bg-color: #282A36;
    --link-color: rgb(116,194,233);
    --select-color: #0C0A20;
    --mute-color: #8492b1;
    --max-width: 600px;
}

nav > ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav > ul > li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    text-transform: lowercase;
}

nav > ul > li > a::before {
    content: "/";
}

html,body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'PT Mono', monospace;
    font-size: 1.05rem;
    line-height: 1.7rem;
}

/* LAYOUT */
.wrapper {
    width: 100%;
    max-width: var(--max-width);
}

header {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.highlight {
    max-height: 300px;
    border-top: 1px dashed var(--mute-color);
    border-bottom: 1px dashed var(--mute-color);
    overflow-x: auto;
}

.highlight::-webkit-scrollbar {
    width: .5em;
    height: .5rem;
}

.highlight::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

.highlight::-webkit-scrollbar-corner { 
    background: var(--bg-color);
}

.highlight::-webkit-scrollbar-thumb {
    background-color: var(--link-color);
    outline: 1px solid var(--link-color);
}

.box {
    display: flex;
    justify-content: center;
}

li > code {
    font-weight: bold;
    color: var(--mute-color);
}

p > code {
    font-weight: bold;
    color: var(--mute-color);
}

a > code {
    color: var(--link-color)
}

a > code:hover {
    color: var(--bg-color)
}

figure > .img > img {
    width: 100%;
}

figcaption > h4 {
    margin-top: .1rem;
    margin-bottom: .1rem;
    font-size: .8rem;
}

nav {
    display: flex;
    justify-items: stretch;
}

.site-brand {
    left: -1.8rem;
    font-size: 1.4rem;
    margin-bottom: 40px;
}

main {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-title {
    font-size: 2rem;
    letter-spacing: -.1rem;
    word-spacing: -.2rem;
    text-transform: uppercase;
    margin-bottom: .4rem;
}

.post-nav {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px dashed var(--mute-color);
    border-bottom: 1px dashed var(--mute-color);
}

.post-nav-prev > a::before {
    content: "↤ ";
}

.post-nav-next {
    text-align: right;
}

.post-nav-next > a::after {
    content: " ↦";
}

.post-terms {
    padding-top: 30px;
    padding-bottom: 30px;
}

.small {
    font-size: 0.8rem;
}

.short {
    margin-top: .1rem;
    margin-bottom: .1rem;
}

footer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* TEXT STYLING */
.muted {
    color: var(--mute-color) !important;
}

.lambda {
    right: .7rem;
    position: relative;
}

.lambda::before {
    color: var(--text-color);
    content: "𝝺"; 
    left: -0.5rem;
    position: relative;
}
.lambda::after {
    box-sizing: inherit;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--link-color);
    box-sizing: inherit;
}
a:hover  {
    background-color: var(--link-color);
    color: var(--bg-color);
}
a.muted  {
    color: var(--mute-color);
}

::selection {
    background: var(--select-color);
}
::-moz-selection {
    background: var(--select-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 670px) {
    body {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* BLINKER */
.terminal::after {
    content: " ▋";
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}