/* Background */ .chroma { color: #e5e5e5; background-color: var(--bg-color) }
/* Error */ .chroma .err { color: #ff0000 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* Keyword */ .chroma .k { color: #C792EA; font-weight: bold }
/* Class */ .chroma .nx { color: #FFCB6B; font-weight: bold }
/* Dots */ .chroma .o { color: #89DDFF; font-weight: bold }
/* Function */ .chroma .nf { color: #82AAFF; font-weight: bold }
/* Var */ .chroma .nv { color: #A6ACCD; font-weight: bold }
/* Parenthesis */ .chroma .p { color: #89DDFF; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #ffffff; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #ffffff; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #ffffff; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #ffffff; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: #ffffff; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #ffffff; font-weight: bold }
/* NameAttribute */ .chroma .na { color: #82AAFF; font-style: bold }
/* NameBuiltin */ .chroma .nb { color: #ffffff; font-weight: bold }
/* NameTag */ .chroma .nt { color: #F78C6C; font-weight: bold }
/* LiteralDate */ .chroma .ld { color: #F78C6C; font-weight: bold }
/* LiteralString */ .chroma .s { color: #C3E88D; font-weight: bold }
/* LiteralStringAffix */ .chroma .sa { color: #C3E88D; font-weight: bold }
/* LiteralStringBacktick */ .chroma .sb { color: #C3E88D; font-weight: bold }
/* LiteralStringChar */ .chroma .sc { color: #C3E88D; font-weight: bold }
/* LiteralStringDelimiter */ .chroma .dl { color: #C3E88D; font-weight: bold }
/* LiteralStringDoc */ .chroma .sd { color: #C3E88D; font-weight: bold }
/* LiteralStringDouble */ .chroma .s2 { color: #C3E88D; font-weight: bold }
/* LiteralStringEscape */ .chroma .se { color: #C3E88D; font-weight: bold }
/* LiteralStringHeredoc */ .chroma .sh { color: #C3E88D; font-weight: bold }
/* LiteralStringInterpol */ .chroma .si { color: #C3E88D; font-weight: bold }
/* LiteralStringOther */ .chroma .sx { color: #C3E88D; font-weight: bold }
/* LiteralStringRegex */ .chroma .sr { color: #C3E88D; font-weight: bold }
/* LiteralStringSingle */ .chroma .s1 { color: #C3E88D; font-weight: bold }
/* LiteralStringSymbol */ .chroma .ss { color: #C3E88D; font-weight: bold }
/* LiteralNumber */ .chroma .m { color: #F78C6C; font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: #F78C6C; font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: #F78C6C; font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: #F78C6C; font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: #F78C6C; font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: #F78C6C; font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: #F78C6C; font-weight: bold }
/* Comment */ .chroma .c { color: #676E95; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #676E95; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #676E95; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #676E95; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #676E95; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #A6ACCD; font-weight: bold }
/* CommentPreprocFile */ .chroma .cpf { color: #A6ACCD; font-weight: bold }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
