{{ define "main" }}
<main>
  <div class="wrapper">
    <article>
      <h1 class="post-title">{{ .Page.Title }}</h1>
      <p class="small">
        {{ .PublishDate.Format .Site.Params.dateFormat }}
        {{ if .Site.Params.readingTime }}
         | {{ .ReadingTime }} minutes read
        {{ end }}
        {{ if .Site.Params.wordCount }}
          | {{ .WordCount }} words
        {{ end }}
      </p>
      <div class="content">
        {{ .Content }}
      </div>
      {{ if .Params.tags }}
      <div class="post-terms">
        <p class="small">
          Taggged
          {{ range.Params.tags }}
          <a href="{{ "/tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>,
          {{ end }}
        </p>
      </div>
      {{ end }}
      {{ partial "post-navigation.html" .}}
    </article>
    {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
      {{ if .Site.DisqusShortname }}
        <div class="comments">
          {{ template "_internal/disqus.html" . }}
        </div>
      {{ end }}
    {{ end }}
  </div>
</main>
{{ end }}