<header>
  <div class="wrapper">
      <p class="site-brand muted lambda terminal">
        <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
      </p>
      <nav>
          <ul>
              {{ range .Site.Menus.main.ByWeight }}
                <li>
                  <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
                </li>
              {{ end }}
              <li>
                <a title="Atom Feed" href="/index.xml">Rss</a>
              </li>
          </ul>
      </nav>
  </div>
</header>